<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Creational">
            <directory suffix="AbstractFactoryTest1.php">./tests/Creational/AbstractFactory</directory>
            <directory suffix="AbstractFactoryTest2.php">./tests/Creational/AbstractFactory</directory>
            <directory suffix="SingletonTest.php">./tests/Creational/Singleton</directory>
        </testsuite>
        <testsuite name="Structural">
            <directory suffix="AdapterTest.php">./tests/Structural/Adapter</directory>
        </testsuite>
        <testsuite name="Behavioral">
            <directory suffix="ObserverTest.php">./tests/Behavioral/Observer</directory>
        </testsuite>
    </testsuites>
</phpunit>
